html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

main {
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/fSfh4e0.jpg");
    background-position: center;
    background-size: cover;
}